.team {
    background: var(--third-backgroun-color);
}

.team-list{
    display: flex;
}
.team-item{
    background: var(--main-backgroun-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}
.team-item:not(:last-child) {
    margin-right: 30px;
}
.container-team-item{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-item-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 16px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
}
.team-soc-item + .team-soc-item {
    margin-left: 10px;
}
.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    transition-property: background-color;
}
.team-soc-icon{
    fill: #AFB1B8;
    transition: var(--transition);
    transition-property: fill;
}
.team-soc-link:hover,
.team-soc-link:focus{
    background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon{  
    fill: var(--backgroun-text-color);
}