.benefits__list {
    display: flex;    
}
.benefits__item{
    max-width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }    
}
.benefits-block{
    display: flex;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;    
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    &__icon{
        display: block;
    }
}
.benefits__title {
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits__text{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}