.header{
    background: var(--main-backgroun-color);
    border: 1px solid var(--border-color);
    margin: 0 auto;
}
.header .container {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
    padding-top: 24px;
    padding-bottom: 25px;
    display: block;
}
.logo-studio{
    color: var(--logo-color-studio);
}
.menu-list{
    margin-left: 93px;
    display: flex;
}
.menu-list__item:not(:first-child){
    margin-left: 50px;
}
.menu-list__item{
    position: relative;
}
.menu-list__link.current{
    color: var(--accent-color);
}
.menu-list__link.current::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;  
    background: #2196F3;
    border-radius: 2px;  

}
.menu-list__link{
    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.connect-list{
    display: flex;
    margin-left: auto;
}
.connect-list__item:not(:first-child){
    margin-left: 50px;
}
.connect-list__link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    align-items: center;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
.connect-list__icon{
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    fill: currentColor;
    transition: var(--transition);
    transition-property: fill;
}
.connect-list__link:hover .connect-list__icon,
.connect-list__link:focus .connect-list__icon{
    fill: var(--accent-color);
}