.hero {
    background: var(--second-backgroun-color);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/hero_bg.jpg);
}
.hero__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--backgroun-text-color);
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.hero__btn{
    background: var(--main-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--backgroun-text-color);
    margin: 0 auto;
    min-width: 200px;
    padding: 10px 32px;
    transition: var(--transition);
    transition-property: background;
}
.hero__btn:hover,
.hero__btn:focus {
    background: var(--second-btn-color);
}